/*#002642 azul
#840032 vermelho
#E5DADA creme
#02040F preto */

body{
background-color: #002642;
}

header{
    margin:4%;
    display: flex;
    gap:100%;
}

.header-title{
    position: absolute;
}

h1{
    color: aliceblue;
}
 
.header-menu{
    margin-left: 90%;
    color: aliceblue;
    background-color: red;
    padding: 2px 25px 2px 25px;
    border-radius: 12px;
    text-decoration: none;
}

.h2{
    text-decoration: none;
    color: aliceblue;
}
span{
    color: red;
}
main{
    color: #E5DADA;
    text-align: center;
    margin-top: 10%;
    width: 100%;
}
.main{
    display: flex;
    column-gap: 10px;
}

.menu-produtos{
  background-color: #174e68;
  height: 200px;
  width: 20%;
  border: 2px solid rgb(24, 22, 58);
  text-align: center;
  border-radius: 12px;
  columns: center;
}
.button{
    padding: 12px 12px 12px 12px;
    background-color: #10344e;
    color: azure;
    border: 1px solid #1456ba;
    border-radius: 5px;
    font-weight: bold;
}
footer {
    position: fixed;
    bottom: 0;
    margin-top: 14px;
    background-color: #4A6FA5;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: -7px;
}

.footer-text{
    font-size: 20px;
}